/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/

$color-base: white;

$color-primary: #00b7cd;
$color-secondary: #409bb0;
$color-secondary-compliment: #80c3d4;

$color-highlight:    #9a2deb;
$color-highlight-2:  #84c341;